{% load static %}
<link href="{% static 'lib/fullcalendar-5.3.2/lib/main.css' %}" rel='stylesheet' />
<script src="{% static 'lib/fullcalendar-5.3.2/lib/main.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>
<div class="navbar bg-lightskyblue shadow-sm">
    <div class="container d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <button class="btn shadow ml-3 btn-outline-primary" onclick="location.href='/eventview/'">もどる</button>
        </div>
    </div>
</div>
<div class="w-75 mx-auto">
    <div class="poster">
        <div id='calendar'></div>
    </div>
    {{ event_data|json_script:"event-data" }}
</div>
<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content bg-transparent border-none">
            {% include 'EventViewApp/parts/poster.html' %}
        </div>
    </div>
</div>
<script>
    eventData = JSON.parse(document.getElementById('event-data').textContent);

    async function updateModal(event_id) {
        await $.ajax({
            'url': '{% url "EventViewApp:ajax_get_event" %}',
            'type': 'POST',
            'data': {
                'event_id': event_id,
            },
            'dataType': 'json'
        }).done(response => {
            let event = JSON.parse(response)[0].fields;
            $('#event_title').text(event.title)
            $('#event_date').text(event.start_date + " ～ " + event.end_date)
            $('#event_content').text(event.content)
            $('#event_url').prop('href', event.url);
        });
        return;
    }

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var dt = new Date();
        var y = dt.getFullYear();
        var m = ("00" + (dt.getMonth() + 1)).slice(-2);
        var d = ("00" + dt.getDate()).slice(-2);

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            initialDate: y + "-" + m + "-" + d,
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            selectMirror: false,
            select: function (arg) {
                var title = prompt('Event Title:');
                if (title) {
                    calendar.addEvent({
                        title: title,
                        start: arg.start,
                        end: arg.end,
                        allDay: arg.allDay
                    })
                }
                calendar.unselect()
            },
            eventClick: async function (arg) {
                await updateModal(arg.event.id);

                $('#calendarModal').modal('show');
            },
            editable: false,
            dayMaxEvents: false, // allow "more" link when too many events
            events: eventData
        });

        calendar.render();
    });

</script>
<style>
    #calendar {
        max-width: 1100px;
        margin: 0 auto;
    }
</style>