<head>
    {% load static %}
    {% if debug %}
    <link rel="stylesheet" href="{% static 'css/tile.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'css/tile.min.css' %}">
    {% endif %}
</head>
<div class="tile" name="{{ event.get_period_display }}">
    {% if event %}
    <div class="tile-new {{ event.freshness_tag }}">
        {{ event.freshness_tag }}
    </div>
    {% endif %}
    <!-- メインコンテンツ -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 non-padding">
                <div class="tile-period {{ event.get_period_display }}">
                    {{ event.get_period_display }}
                </div>
                <div class="left-days-wrapper">
                    <div class="left-days-number">{{ event.left_date }}</div>
                    <div class="left-days-days">Days left</div>
                </div>
            </div>
            <div class="col-xl-10">
                <div class="container-fluid d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="tile-title">
                            {% if event %}
                            {{ event.title }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            <!-- </div>
            <div class="col-xl-10"> -->
            </div>
        </div>
    </div>
</div>