.poster {
		display:inline-block;
		background: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		margin: 12px 23px;
		padding: 24px;
		position: relative;
		z-index: 0;
		color: #3a3a3a;
		/* font-family: 'M PLUS Rounded 1c', sans-serif; */
		font-family: 'Kosugi Maru', sans-serif;
		font-size: medium;
}
.poster h1{
		color: #3a3a3a;
}
.poster:before, .poster:after {
		content: "";
		height: 98%;
		position: absolute;
		width: 100%;
		z-index: -1;
}
.poster:before {
		background: #fafafa;
		box-shadow: 0 0 8px rgba(0,0,0,0.2);
		left: -5px;
		top: 4px;
		transform: rotate(-2.5deg);
}
.poster:after {
		background: #f9f7e3;
		box-shadow: 0 0 3px rgba(0,0,0,0.2);
		right: -3px;
		top: 1px;
		transform: rotate(1.4deg);
}