.event-date {
  font-size: larger;
  font-weight: 700;
}
.event-content {
  margin: 1em 0;
}
.event-link {
  font-family: "Caveat", cursive;
  font-size: 2em;
}
.event {
  margin: 1em 0 0 0;
}
.event-period {
  position: absolute;
  right: -5px;
  top: -1.2em;
  padding: 0 2em;
  transform: rotate(5.4deg);
  line-height: 2.5em;
  z-index: 20;
  font-weight: bold;
  font-family: "Caveat", cursive;
  font-size: 2em;
}
.Daily {
  background-color: #3399ff;
}
.Temporarily {
  background-color: #ff5252;
}
.Forever {
  background-color: #d0e226;
}
