{% extends 'EventViewApp/_layout.html' %} {% block content %} {% load static %}
<div class="container">
  <button onclick="location.href='/eventview'" class="btn" id="back-btn"><i class="fas fa-arrow-left fa-4x"></i></button>
  <form action="" method="POST">
    <div class="poster">
      <div class="row">
        <div class="col-6">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_title">タイトル</label>
            <input type="text" class="form-control" name="title" maxlength="200" id="id_title" value="{{ event.title }}" />
          </div>
          <div class="form-group">
            <label for="id_start_date">開始日</label>
            <input type="date" class="form-control" name="start_date" id="id_start_date" value="{{ event.start_date|date:'Y-m-d' }}" />
          </div>
          <div class="form-group">
            <label for="id_end_date">終了日</label>
            <input type="date" class="form-control" name="end_date" id="id_end_date" value="{{ event.end_date|date:'Y-m-d' }}" />
          </div>
          <div class="form-group">
            <label for="id_period">期間</label>
            {% for period in periods %}
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="period" value="{{ period.0 }}" id="id_{{ period.1 }}" {% if event.period == period.0 %} checked {% endif %} />
              <label class="custom-control-label" for="id_{{ period.1 }}"> {{ period.1 }} </label>
            </div>
            {% endfor %}
          </div>
          <div class="form-group">
            <label for="id_url">URL</label>
            <input type="url" class="form-control" name="url" maxlength="200" id="id_url" value="{{ event.url }}" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="id_content">内容</label>
            <textarea class="form-control" name="content" cols="40" rows="20" id="id_content">{{ event.content }}</textarea>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">保存</button>
    </div>
  </form>
  <button class="btn" id="delete_btn"><i class="fas fa-trash-alt"></i></button>
  <script type="text/javascript">
    $("#delete_btn").on("click", function () {
      if (confirm("削除しますか？")) {
        location.href = "{% url 'event_delete' event.id %}";
        alert("削除しました.");
      }
    });
  </script>
</div>
{% endblock %}