{% extends 'EventViewApp/_layout.html' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <button class="btn btn-outline-primary">daily</button>
      <button class="btn btn-outline-danger">Temporarily</button>
      <button class="btn btn-outline-primary">Forever</button>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
      <button
        class="btn btn-outline-primary"
        onclick="location.href='/eventview/add'"
      >
        追加
      </button>
    </div>
  </div>
</div>
<div class="masonry">
  {% for event in events %}
  <div class="masonry-item">{% include 'EventViewApp/parts/poster.html' %}</div>
  {% endfor %}
</div>

{% endblock %}
