{% extends 'EventViewApp/_layout.html' %} {% block content %} {% load static %}
<div class="navbar bg-transparent-white shadow-sm">
  <div class="container d-flex justify-content-between">
    <div class="d-flex align-items-center">
      {% for period in periods %}
      <input class="tab_btn_input" name="period_type" type="checkbox" id="btn_{{ period }}" value="{{ period }}" checked>
      <label class="shadow mr-3 mb-0 category-btn {{ period }} active" for="btn_{{ period }}">{{ period }}</label>
      {% endfor %}
    </div>
    <div class="d-flex align-items-center">
      <button class="btn shadow ml-3 btn-outline-secondary" id="info_btn">
        Info
      </button>
      <button class="btn shadow ml-3 btn-outline-success" onclick="location.href='/eventview/calendar'">
        Calendar
      </button>
      <button class="btn shadow ml-3 btn-outline-primary" onclick="location.href='/eventview/add'">
        追加
      </button>
      <button class="btn shadow ml-3 btn-outline-primary" onclick="location.href='/eventview/achive'">
        一週間前
      </button>
    </div>
  </div>
</div>
<div class="modal fade" id="updateInfoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content bg-transparent border-none">
      <div class="poster">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <div id="update-info" class="event-content"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="d-flex align-items-center">
              <button class="btn shadow m-3 btn-outline-primary" id="editor-toggle-btn">edit</button>
              <button class="btn shadow m-3 btn-outline-primary" id="editor-save-btn">save</button>
            </div>
          </div>
          <div class="row" id="update-info-editor">
            <div class="col-12">
              <div class="form-group">
                <textarea class="form-control" name="content" cols="40" rows="20" id="markdown_edit">{{ info.content }}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="masonry">
      {% for event in events %}
      <div class="masonry-item">{% include 'EventViewApp/parts/poster.html' %}</div>
      {% endfor %}
    </div>
  </div>
</div>
<script src="{% static 'js/ajax.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript" src="{% static 'js/event_view.js' %}"></script>
<script type="text/javascript" src="{% static 'js/poster.js' %}"></script>
<script type="text/javascript">
  $(function () {
    // モーダル内の編集内容を保存
    async function saveModalContent() {
      let content = $('#markdown_edit').val();
      let id = '{{ info.id }}';
      await $.ajax({
        'url': '{% url "EventViewApp:update_info_save" %}',
        'type': 'POST',
        'data': {
          'id': id,
          'content': content
        },
        'dataType': 'json'
      }).done(respnse => {
        alert("保存完了");
      }).fail(() => {
        alert("保存失敗");
      });
      return;
    }
    // モーダルで編集した内容を保存するボタン
    $('#editor-save-btn').on('click', function () {
      $('this').prop('disabled', true);
      saveModalContent();
      $('this').prop('disabled', false);
    });
  });
</script>
{% endblock %}